.header_div{
    background-color: rgb(238, 168, 215);
    color: rgb(78, 3, 53);
    font-size: large;
}

body{
    background-color: aqua;
}

.header_div p {
    color: blueviolet;
    letter-spacing: 2px;
}

.footer{
    background-color: rgb(235, 110, 135);
    text-align: center;
    font-size: 18px;
    bottom: 0;
    position: fixed;
    width: 100%;
    line-height: 2;
    text-shadow: 5px 5px 5px mediumvioletred;
}

.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}